
<section class="section">
  <h2 class="section-title">
    About Me
  </h2>
  <p class="section-tagline">
    Crafting user-first experiences with design precision and development excellence.
  </p>
  
  <mat-card id="about" class="about-card">  
      <mat-card-content>
        <ul>
          <li>
            I’m a UI/UX Developer with over 15 years of experience designing and building seamless digital
            interfaces that not only look great but feel intuitive and perform flawlessly. I specialize in
            developing modern, responsive, and accessible front-ends using <strong>Material Design principles</strong> and
            libraries like <strong>Angular Material</strong>, bringing consistency, clarity, and structure to every project.
          </li>     
          <li>
            My work is rooted in a deep understanding of user behavior, design systems, and front-end technologies.
            I’m passionate about building products that solve real problems—balancing aesthetics with functionality and business
            needs with user delight.
          </li>      
          <li>
            With a strong command of component-driven architecture, clean code practices, and scalable UI frameworks,
            I help teams create cohesive design systems that enhance usability and speed up development. Whether collaborating
            with designers, back-end engineers, or product stakeholders, I strive to bring clarity and creativity to every interaction.
          </li>
      </ul>    
        <p><em>Let’s create something elegant, efficient, and user-centered—one component at a time.</em></p>
      </mat-card-content>
  </mat-card>
</section>
