<!-- <mat-toolbar color="primary" class="footer">
    <span>© 2025 Naheed Virk — All rights reserved.</span>
</mat-toolbar> -->

  <footer class="footer">
    <div class="footer-content">
      <p>Copyright &copy; {{ currentYear }} :: {{ authorName }} :: {{ rightReserved }}</p>
      <!-- <a [href]="linkedinUrl" title="LinkedIn" target="_blank" rel="noopener" aria-label="LinkedIn">
        <img src="/InBug-Black.png" alt="LinkedIn" class="social-icon">
      </a> -->
      <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <img src="linkedin.png" alt="LinkedIn" class="social-icon" />
      </a>
      
    </div>
  </footer>
  