/* src/app/layout/footer/footer.component.scss */

  .footer {
    background-color: #f5f5f5; //#10284a;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #757575;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    background-image: url('/assets/bg-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .footer-content {
      max-width: 1000px;
      margin: 0 auto;
      p {
        margin: 0;
      }
      .green {
        color: #51D1D2;
      }
      .social-icon {
        width: 24px;
        height: 24px;
        transition: transform 0.3s ease;
        margin-top: 10px;  
        &:hover {
          transform: scale(1.2);
        }        
      }
    }
  }
  