<section class="section">
    <h2 class="section-title">
        {{ authorName }}
        <span>{{ fromWhere }} </span>
    </h2>
    <p class="section-tagline">
        {{ authorInfo }}   
    </p>
    
    <mat-card id="home" class="home-card">
        <mat-card-content>
            <p>{{ detailedInfo }}</p>
            <p><b>{{ workSamples }}</b></p> 
        </mat-card-content>
    
        <div class="button-wrapper">
            <!-- <button mat-raised-button color="primary" [routerLink]="'/json-api'">
            Json from API with Material table
            </button> -->
            <button mat-raised-button color="primary" [routerLink]="'/features'">
                Angular Material
            </button>
        </div>
    </mat-card>
  </section>