<mat-toolbar color="primary" class="navbar">
    <span class="logo">My Portfolio</span>
    <span class="spacer"></span>

    <nav class="nav-links">
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <a mat-button routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        <a mat-button routerLink="/resume" routerLinkActive="active">Resume</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>    
    </nav>

  </mat-toolbar>
  
