.navbar {
  background-color: #f5f5f5; //#d7e3ff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  height: 55px;
  padding: 0 4rem;
  font-size: 1rem;
  display: flex;
  align-items: center;

  .spacer {
    flex: 1 1 auto;
  }
 
  .author a {
    border-bottom: none;
  }
  .nav-logo-link {
    display: flex;
  }
  .nav-logo {
    height: 10rem;
    object-fit: contain;
  }
  
  a {
      color: rgba(88,88,88,0.6)!important;
      margin-left: 10px;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid #51D1D2;
        color: #51D1D2 !important;
        font-weight: bold;

      }
      .ng-logo {
        margin-right: 8px;
        width: 24px;
        height: 24px;
      }
  }

  a:hover {
    color: #51D1D2 !important ;
    font-weight: bold;
  }
}

