// navbar.component.scss
.navbar {
  background-color: #10284a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  height: 45px;
  padding: 1rem;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
  }

  .spacer {
    flex: 1 1 auto;
  }

 .nav-links a {
      color: whitesmoke;
      margin-left: 10px;
      font-weight: 500;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid white;
        font-weight: bold;
        color: #fff;
      }
    }

}

  